

.logo {
	width: 15%;
	margin-top: 0.70%;
}

.nav-ul {
	text-decoration: none;
	list-style: none;
}

html {
	margin: 0;
	padding: 0;
	height: 100%;
}
.nav-item::after {
	content: '';
	display: block;
	width: 0px;
	height: 2px;
	background: #E31B6D;
	transition: 0.2s;
	margin-top: -10px;
}

.nav-item:hover::after {
	width: 100%;
}

.nav-link {
	padding: 15px 5px;
	transition: 0.2s;
}

.navbar-nav .nav-link {
	color: #000;
	font-weight: 600;
	font-size: 0.95rem;
}

.navbar-nav .active > .nav-link {
	  color: #E31B6D;
}
.navbar {
	float: right;
}
#logo {
	margin-top: 1.5%;
	background: transparent;
}
#container {
	margin-top: 3%;
}
.head {
	color: #fff;
}
th {
	background-color: #212529;
	color: #fff;
}

.hr {
	margin-top: 0.5%;
}

/* FORM */

/* .form-panel {
	display: inline-block;
} */

/* .form-container {
	border: 
} */
