<!DOCTYPE html>
<html>
   <head>
      <title>ex2.1</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="angular.js"></script>
      <script src="angular-route.js"></script>
   </head>
   <style>
       .container {
            margin-top: 5%;
       }

       .form-control {
           width: 30%;
           float: right;
       }

       .thWidth {
           width: 33%;
       }
   </style>
   <body class="container" ng-app="myApplication" ng-controller="myController">
        <div ng-include="'include.html'"></div><br><br>
        <input class="btn btn-info btn-sm" type="button" value="Show Product" ng-click="showThisProduct()">
        <!-- <input class="btn btn-warning btn-sm" type="button" value="Hide Product" ng-click="hideThisProduct()"> -->
        <input class="form-control form-control-sm" placeholder="Search" ng-model="searchText"><br><br>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <th class="thWidth">Name</th>
                <th class="thWidth">Price</th>
                <th class="thWidth">Quantity</th>
            </thead>
            <tbody ng-show="showProduct">
                <tr ng-repeat="product in products | orderBy: 'Name' | filter: searchText">
                    <td>{{product.Name}}</td>
                    <td>{{product.ListPrice | currency: "₱ "}}</td>
                    <td>{{product.Quantity | number: 0}}</td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <tr ng-repeat="comment in comments">
                    <td>{{comment.postId}}</td>
                    <td>{{comment.id}}</td>
                    <td>{{comment.email}}</td>
                </tr>
            </tbody>
        </table>
        <script>
            var application = angular.module("myApplication", []);
            application.controller("myController", function($scope, $http){
                $scope.showProduct = false;
                $scope.showThisProduct = function() {
                    $scope.showProduct = true;
                }
                // $scope.hideProduct = false;
                // $scope.hideThisProduct = function() {
                //     $scope.hideProduct = true;
                // }
                
                $scope.products = [{
                    Name: "Buwad",
                    ListPrice: "35.00",
                    Quantity: "15"
                },{
                    Name: "Shakoy",
                    ListPrice: "8.00",
                    Quantity: "50"
                },{
                    Name: "Kalamay",
                    ListPrice: "50.00",
                    Quantity: "120"
                },{
                    Name: "Palitao",
                    ListPrice: "5.00",
                    Quantity: "23"
                }];
                
                // $http.get("https://jsonplaceholder.typicode.com/posts/1/comments")
                // .then(function(response){
                //     $scope.comments = response.data;
                // }, function(){
                //     $scope.error = "Unable to get the comment information."
                // });                
            });
            

        </script>
   </body>
</html>