<!DOCTYPE html>
<html>
   <head>
      <title>ex1</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="angular.js"></script>
      <script src="angular-route.js"></script>
   </head>
   <style>
      body {
         margin-top: 5%;
      }

      .form-control {
         width: 30%;
      }

      .form-control:nth-child(2),
      .form-control:nth-child(3),
      .form-control:nth-child(4) {
         margin-top: 1%;
      }

      .btn {
         width: 30%;
      }
   </style>
   <body class="container" ng-app="myApplication" ng-controller="myController">
      <form name = "myForm" class="form-group">
         <input class="form-control" type="text" id="name" ng-model="name"placeholder="Full Name">
         <input class="form-control" type="text" id="month" ng-model="month"placeholder="Birth Month">
         <input class="form-control" type="text" id="day" ng-model="day"placeholder="Birth Day">
         <input class="form-control" type="text" id="year" ng-model="year"placeholder="Birth Year">
      </form>
      
      <button class="btn btn-info btn-block" ng-click="Submit()">Click Me!</button><br><br><br>
      <h3>{{greet}} {{yourName}} {{words}} {{birthday}}</h3>

      <script src="app.js"></script>
      <script src="angularController1.js"></script>
   </body>

   <script>
      $(document).ready(function(){
         
      });
   </script>
</html>

<!-- // var application = angular.module("myApplication",[]);

// CHAINING
// .controller("myController", function(){

// }).controller({

// }).controller({

// })

// application.controller("myController", function($scope){
//         $scope.Submit = function(){
//         var name = document.getElementById('name').value;
//         var birthday = document.getElementById('month').value + ". "+ document.getElementById('day').value + ", "+ document.getElementById('year').value + "!";
//         var hi = "Hello";
//         var bd = "Your birthday is"
//         $scope.greet = hi;
//         $scope.yourName = name;
//         $scope.words = bd;
//         $scope.birthday = birthday ;
//     }
// }); -->